{%extends "base.html" %}
{% block title %}About{% endblock %}

{%block content %}
<style>
    .container {
      position: relative;
    }
    
    .images {
      position: absolute;
      top: 148px;
      left: 510px;
      font-size: 60px;
    }
    
    img { 
      width: 100%;
      height: auto;
      opacity: 1.00;
    }
    </style>
<div class="container">
    <h1>about</h1>
    <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:75px;">below is what we do<br>how did i do
    </p>
    <p>since (date) we have been producing xxxx for the xxx market and have
        <br>
        become world leaders in the xxxxx industry
    </p>
    
    <body style="background-color:#ECF4F4;">
     <div class="images">
        <img src="/static/lol.png" alt="lol">
    </body>
</div>
{% endblock %}