{%extends "base.html" %}
{% block title %}about{% endblock %}

{%block content %}
<style>
    .container {
      position: relative;
    }
    
    .images {
      position: absolute;
      top: 200px;
      left: 500px;
      font-size: 60px;
    }
    
    img { 
      width: 100%;
      height: auto;
      opacity: 1.00;
    }
    </style>
<div class="container">
    <h1>about</h1>
    <p1 style = "font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:75px;">below is what we do<br>how did i do
    </p1>
    <pre>since (date) we have been producing xxxx for the xxx market and have
        
        become world leaders in the xxxxx industry
    </pre>
    
    <body style background="background-color:pink;"></body>
    <body>
        <div class="images">
        <img src="/static/lol.png" alt="lol" width="1000" height="1000">
    </body>
</div>
{% endblock %}