{%extends "base.html" %}
{% block title %}contact{% endblock %}

{% block content %}
<div class="container">
    <h1> Contacts page.</h1>
    <p1>to contact any of the team please email dfdfjdfjs;jksdf@cxciod.com</p1>
    <h2> </h2>
    <p2>If if if you would like to fly to the moon on a cheese rocket please diel 07593710478</p2>
    <h3>HTML Image</h2>
        <img src="https://i.kym-cdn.com/entries/icons/facebook/000/004/815/lologuy.jpg" alt="lol" width="500" height="333"></h3>
</div>

{% endblock %}