<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, user!</h1>
    {% endif %}

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ducimus voluptatem eius. Quam eveniet nisi ullam expedita, culpa velit officia eligendi eaque dolore harum possimus iusto perferendis inventore praesentium reiciendis.</p>
</body>
</html>